* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

/* ==================Common============== */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 0.69rem;
}

.logo-text {
    color: #000;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    --height: 58px;
    min-width: 149px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 8px;
    background: #212832;
    color: #fff;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-title {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    color: #696d77;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.section-title::before {
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
}

.section-heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 116.667% */
}

.section-desc {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

/* ================Header============== */
.header {
    padding: 42px 0;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 24px;
    color: #696d76;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.navbar__link:hover {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__item:first-child .navbar__link {
    margin-left: 47px;
}

.header-action {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-action__link {
    color: #212832;
    font-weight: 600;
    padding: 8px 28px;
}

.header-action__btn {
    min-width: 113px;
    --height: 52px;
}

.navbar__link--active {
    position: relative;
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 24px;
    width: calc(100% - 48px);
    height: 1px;
    border-radius: 0.5px;
    background: #7264d6;
}

/* =================Hero================= */
.hero {
    margin-top: 34px;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero__content {
    width: 46.2%;
}

.hero__heading {
    font-size: 6rem;
    line-height: 1.17;
    margin: 12px 0 20px;
}

.hero__highlight {
    color: #7264d6;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 8px 8px 8px 23px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.subscribe-form__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.subscribe-form__input::placeholder {
    color: #696d76;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.subscribe-form__submit {
    outline: none;
    border: none;
    min-width: 149px;
    --height: 58px;
    background: #7264d6;
}

.hero__commit {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71; /* 171.429% */
}

.hero__img-wrap {
    position: relative;
}

.hero__img {
    display: block;
    margin-left: 160px;
    width: 296px;
    height: 562px;
}

.hero__decor-download {
    position: absolute;
    left: 60px;
    top: 113px;
    display: inline-flex;
    align-items: center;
    padding: 14px 10px;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero__decor-download-title {
    margin-left: 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__decor-download-price {
    margin-left: 19px;
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.hero__decor-fund {
    position: absolute;
    bottom: 61px;
    right: -74px;
    display: flex;
    align-items: center;
    padding: 20px 14px;
    column-gap: 11px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
}

.hero__decor-fund-price {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__decor-fund-title {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.hero__decor-fund-desc {
    display: inline-flex;
    flex-direction: column;
}

.hero__decor-percent {
    position: absolute;
    top: 127px;
    right: -174px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    background: #da6464;
    border-radius: 50%;
}

.hero__decor-percent-value {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 1.36;
}

.hero__decor-percent-title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.36;
}

.hero__decor-download,
.hero__decor-fund,
.hero__decor-percent {
    pointer-events: none;
}

/* ==============Guide=============== */
.guide {
    margin-top: 160px;
}

.guide__media {
    position: relative;
    width: 470px;
}
.guide__img-wrap {
    position: relative;
    width: 100%;
}

.guide__decor-bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.guide__img {
    display: block;
    width: 456px;
    height: 619px;
}

.guide__card {
    position: absolute;
    right: -100px;
    bottom: 96px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 15px;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.guide__card-decor-check {
    display: block;
}

.guide__card-title {
    display: block;
    color: #212832;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.21;
}

.guide__card-desc {
    color: #696d76;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.21;
}

.guide__card-logo {
    position: absolute;
    right: 62px;
    top: 76px;
}

.guide__inner {
    display: flex;
    column-gap: 230px;
}

.guide__content {
    padding-top: 29px;
}

.guide__heading {
    margin-top: 12px;
}

.guide__list {
    margin-top: 70px;
}

.guide__item:not(:last-of-type) {
    margin-bottom: 30px;
}

.guide__item-title {
    margin-bottom: 16px;
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.46; /* 145.455% */
}

.guide__item-desc {
    color: #696d76;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

/* ==================Payment============== */
.payment {
    margin-top: 160px;
}

.payment__inner {
    display: flex;
    align-items: center;
}

.payment__content {
    width: 40.17%;
}

.payment__heading {
    margin: 12px 0 20px;
}

.payment__list {
    margin-top: 28px;
}

.payment__item {
    display: flex;
    align-items: center;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    margin-bottom: 18px;
}

.payment__item::before {
    content: "";
    margin-right: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.payment__btn {
    margin-top: 20px;
}

.payment__media {
    width: 59.83%;
}

.payment__img-wrap {
    position: relative;
    margin-left: 130px;
    width: 482px;
}

.payment__img {
    width: 100%;
}

.payment__card {
    position: absolute;
    top: -48px;
    right: -88px;
    display: flex;
    align-items: center;
    padding: 23px 13px;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.payment__card-decor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #da64641a;
}

.payment__card-content,
.payment__card-history {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.payment__card-content {
    margin-left: 14px;
}

.payment__card-content-title {
    color: #212832;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.21;
}

.payment__card-content-desc,
.payment__card-history-time {
    color: #696d76;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.21;
}

.payment__card-history {
    margin-left: auto;
}

.payment__card-history-money {
    color: #212832;
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.21;
}

.payment__card-history-time {
    align-self: flex-end;
}

.payment__cost {
    position: absolute;
    right: -88px;
    bottom: -55px;
    padding: 14px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
}

.payment__cost img,
.payment__cost-desc,
.payment__cost-value {
    display: block;
}

.payment__cost-desc {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.36;
}

.payment__cost-value {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.36;
}
