* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

/* ==================Common============== */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 0.69rem;
}

.logo-text {
    color: #000;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    --height: 58px;
    min-width: 149px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 8px;
    background: #212832;
    color: #fff;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-title {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    color: #696d77;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.section-title::before {
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
}

.section-heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 116.667% */
}

.section-desc {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.block__list {
    margin-top: 28px;
}

.block__item {
    display: flex;
    align-items: center;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    margin-bottom: 18px;
}

.block__item:last-of-type {
    margin-bottom: 38px;
}

.block__item::before {
    content: "";
    margin-right: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

/* ================Header============== */
.header {
    padding: 42px 0;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 24px;
    color: #696d76;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.navbar__link:hover {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__item:first-child .navbar__link {
    margin-left: 47px;
}

.header-action {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-action__link {
    color: #212832;
    font-weight: 600;
    padding: 8px 28px;
}

.header-action__btn {
    min-width: 113px;
    --height: 52px;
}

.navbar__link--active {
    position: relative;
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 24px;
    width: calc(100% - 48px);
    height: 1px;
    border-radius: 0.5px;
    background: #7264d6;
}

/* =================Hero================= */
.hero {
    margin-top: 34px;
}

.hero__inner {
    display: flex;
    align-items: center;
}

.hero__content {
    width: 46.2%;
}

.hero__heading {
    font-size: 6rem;
    line-height: 1.17;
    margin: 12px 0 20px;
}

.hero__highlight {
    color: #7264d6;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 8px 8px 8px 23px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.subscribe-form__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.subscribe-form__input::placeholder {
    color: #696d76;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.subscribe-form__submit {
    outline: none;
    border: none;
    min-width: 149px;
    --height: 58px;
    background: #7264d6;
}

.hero__commit {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71; /* 171.429% */
}

.hero__img-wrap {
    position: relative;
}

.hero__img {
    display: block;
    margin-left: 160px;
    width: 296px;
    height: 562px;
}

.hero__decor-download {
    position: absolute;
    left: 60px;
    top: 113px;
    display: inline-flex;
    align-items: center;
    padding: 14px 10px;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero__decor-download-title {
    margin-left: 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__decor-download-price {
    margin-left: 19px;
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.hero__decor-fund {
    position: absolute;
    bottom: 61px;
    right: -74px;
    display: flex;
    align-items: center;
    padding: 20px 14px;
    column-gap: 11px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
}

.hero__decor-fund-price {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__decor-fund-title {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.hero__decor-fund-desc {
    display: inline-flex;
    flex-direction: column;
}

.hero__decor-percent {
    position: absolute;
    top: 127px;
    right: -174px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    flex-shrink: 0;
    background: #da6464;
    border-radius: 50%;
}

.hero__decor-percent-value {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 1.36;
}

.hero__decor-percent-title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.36;
}

.hero__decor-download,
.hero__decor-fund,
.hero__decor-percent {
    pointer-events: none;
}

/* ==============Guide=============== */
.guide {
    margin-top: 160px;
}

.guide__media {
    position: relative;
    width: 470px;
}
.guide__img-wrap {
    position: relative;
    width: 100%;
}

.guide__decor-bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.guide__img {
    display: block;
    width: 456px;
    height: 619px;
}

.guide__card {
    position: absolute;
    right: -100px;
    bottom: 96px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 15px;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.guide__card-decor-check {
    display: block;
}

.guide__card-title {
    display: block;
    color: #212832;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.21;
}

.guide__card-desc {
    color: #696d76;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.21;
}

.guide__card-logo {
    position: absolute;
    right: 62px;
    top: 76px;
}

.guide__inner {
    display: flex;
    column-gap: 230px;
}

.guide__content {
    padding-top: 29px;
}

.guide__heading {
    margin-top: 12px;
}

.guide__list {
    margin-top: 70px;
}

.guide__item:not(:last-of-type) {
    margin-bottom: 30px;
}

.guide__item-title {
    margin-bottom: 16px;
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.46; /* 145.455% */
}

.guide__item-desc {
    color: #696d76;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

/* ==================Payment============== */
.payment {
    margin-top: 160px;
}

.payment__inner {
    display: flex;
    align-items: center;
}

.payment__content {
    width: 40.17%;
}

.payment__heading {
    margin: 12px 0 20px;
}

.payment__btn {
    margin-top: 20px;
}

.payment__media {
    width: 59.83%;
}

.payment__img-wrap {
    position: relative;
    margin-left: 130px;
    width: 482px;
}

.payment__img {
    width: 100%;
}

.payment__card {
    position: absolute;
    top: -48px;
    right: -88px;
    display: flex;
    align-items: center;
    padding: 23px 13px;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.payment__card-decor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #da64641a;
}

.payment__card-content,
.payment__card-history {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.payment__card-content {
    margin-left: 14px;
}

.payment__card-content-title {
    color: #212832;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.21;
}

.payment__card-content-desc,
.payment__card-history-time {
    color: #696d76;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.21;
}

.payment__card-history {
    margin-left: auto;
}

.payment__card-history-money {
    color: #212832;
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.21;
}

.payment__card-history-time {
    align-self: flex-end;
}

.payment__cost {
    position: absolute;
    right: -88px;
    bottom: -55px;
    padding: 14px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
}

.payment__cost img,
.payment__cost-desc,
.payment__cost-value {
    display: block;
}

.payment__cost-desc {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.36;
}

.payment__cost-value {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.36;
}

/* ================Gain================ */
.gain {
    margin-top: 160px;
}

.gain__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gain__media {
    height: 600px;
    width: 470px;
}

.gain__img-wrap {
    position: relative;
    height: 100%;
}

.gain__img {
    position: absolute;
    display: block;
    right: 27px;
    width: 413px;
    height: 600px;
}

.gain__img-bg {
    z-index: -1;
    position: absolute;
    bottom: 0;
}

.gain__img-decor-method {
    position: absolute;
    bottom: -35px;
    right: -122px;
}

.gain__decor-money {
    position: absolute;
    bottom: 168px;
    right: -140px;
}

.gain__content {
    width: 470px;
}

.gain__heading {
    margin: 12px 0 20px;
}

/* ==================Review=============== */
.review {
    margin-top: 160px;
}

.review-top {
    text-align: center;
}

.review__heading {
    margin-top: 12px;
}

.review__desc {
    margin: 18px auto 0;
    width: 435px;
    color: #696d76;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.review__row {
    margin-top: 70px;
    display: flex;
    column-gap: 30px;
    overflow: hidden;
}

.review__column-box {
    position: relative;
    padding: 42px 28px;
    width: 570px;
    height: 254px;
    border: 1px solid #dfe2e8;
    border-radius: 8px;
}

.review__column-box:hover {
    background: #fff;
    border: #fff;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.review__column:has(.review__column-box:hover) .review__column-box::after {
    border: #fff;
}

.review__column-box::after {
    content: "";
    position: absolute;
    width: 82px;
    height: 82px;
    bottom: -41px;
    left: 50%;
    transform: translateX(-50%) rotate(48deg) skew(6deg);
    background: #fff;
    border-right: 1px solid #dfe2e8;
    border-bottom: 1px solid #dfe2e8;
    border-radius: 0 0 4px 0;
}

.review__column-box-content {
    position: relative;
    z-index: 1;
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 34px; /* 154.545% */
}

.review__author {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
}

.review__author-avatar-wrap {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background-color: #4ab5e3;
    overflow: hidden;
}

.review__column:nth-of-type(2) .review__author-avatar-wrap {
    background: #439f90;
}

.review__author-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review__author-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review__author-name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.review__author-job {
    margin-top: 2px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.review__dots {
    display: flex;
    margin-top: 38px;
    justify-content: center;
    column-gap: 12px;
}

.review__dot {
    width: 22px;
    height: 6px;
    background-color: #fff;
    border: 1px solid #9b9fab;
    border-radius: 1px;
}

.review__dot:hover {
    cursor: pointer;
}

.review__dot--active {
    background: #7264d6;
}

/* ================Blog================== */
.blog {
    margin-top: 160px;
}

.blog-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading {
    margin: 6px 0 18px;
}

.blog__desc {
    width: 435px;
    color: #696d76;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.blog__btn {
    min-width: 123px;
}

.blog__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog__item {
    display: flex;
    column-gap: 22px;
    padding: 28px;
    width: 570px;
    height: 216px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
}

.blog__item:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    border-color: #fff;
}

.blog__item-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}

.blog__item-date {
    margin-top: 10px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.blog__item-desc {
    margin-top: 10px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.blog__item-cta {
    display: inline-block;
    margin-top: 20px;
    color: #696d76;
    font-weight: 400;
    line-height: 1.63; /* 162.5% */
}

.blog__item-cta:hover {
    color: #7264d6;
}

/* ==============Install================ */
.install {
    margin-top: 160px;
}

.install__inner {
    position: relative;
    padding: 100px 0;
    text-align: center;
    border-radius: 24px;
    background: #7264d6;
}

.install__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.install__title::before {
    content: "";
    margin-right: 12px;
    width: 18px;
    height: 2px;
    background: #fff;
}

.install__heading {
    margin-top: 12px;
    color: #fff;
}

.install__desc {
    margin: 18px auto 0;
    width: 435px;
    color: #fff;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.install__cta-group {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    margin-top: 38px;
}

.install__cta:hover {
    opacity: 0.9;
}

.install__cta img {
    display: block;
}

.install__decor-star {
    position: absolute;
}

.install__decor-star:nth-of-type(1) {
    top: 49px;
    left: 112px;
}

.install__decor-star:nth-of-type(2) {
    top: 49px;
    right: 112px;
}

.install__decor-star:nth-of-type(3) {
    bottom: 49px;
    left: 166px;
}

.install__decor-star:last-of-type {
    bottom: 49px;
    right: 166px;
}
